[submodule "Software/Core/Common"]
	path = Software/Core/Common
	url = https://github.com/QUT-Motorsport/QUTMS_Embedded_Common.git
[submodule "Screen_Software/SteeringWheel/lvgl"]
	path = Screen_Software/SteeringWheel/lvgl
	url = https://github.com/lvgl/lvgl.git
